@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    background: #09090b;
    color: white;
    font-family: Inter, sans-serif;
}

* {
    box-sizing: border-box;
}

.card {
    border: 1px solid #27272a;
    background: #18181b;
    border-radius: 1rem;
}